<!-- task/templates/task/show_tasks.html -->
{% extends 'base.html' %}
{% block content %}

<section class="container">
  <h2 class="my-5 text-center">All Tasks</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 justify-content-center gap-3">
    {% for task in tasks %}
      <div class="card col">
        <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"  alt="image"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ task.taskTitle }}</h5>
          <p class="card-text">{{ task.taskDescription }}</p>
          <p class="card-text"> id : {{ task.is_completed }}</p>

          {% if task.is_completed %}
            <a class="btn btn-success" data-mdb-ripple-init>Completed</a>
          {% else %}
            <a href="{% url 'edit_task' task.id %}" class="btn btn-primary" data-mdb-ripple-init>Edit</a>
            <a href="{% url 'delete_task' task.id %}" class="btn btn-danger" data-mdb-ripple-init>Delete</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
